/* HTML STRUCTURE */
/* Step -1 - parentContainer */
/* step -2 - component */
/* step -3 - componentContainer */
/* step -4 - row */
/* step -5 - column */
/* step -6 - subColumn */
/* step -7 - contentContainer */
/* step -8 - content */

/* parent Container - default css style */


/* step -2 - component */
.stringFunction{
    background-color: rgb(0, 253, 253);

}

/* step -3 - componentContainer */
.stringFunctionContainer {
    /* background-color: white; */
}

/* step -4 - row */
.stringFunctionBody {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 0rem 2rem; */
}

/* step -5 - column */
.stringFunctionBlock {
    /* background-color: #03fcc6; */
    display: flex;
    align-items: center;
    justify-content: center;
}



/* step -6 - subColumn */
.stringFunctionBox {
    /* background-color: #dfbd4d; */
    
}



/* step -7 - contentContainer */

form{
    background-color: #2b6e63;
    border-style: solid;
    border-color: rgb(240, 69, 217);
    padding: 2rem 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.inputvalue{
    margin-bottom: 2rem;
}


input[type=text]
{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    margin-bottom: 2rem;
    
}

.buttons{

    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   row-gap: 1rem;
   column-gap: 1rem;
   margin-bottom: 2rem;
}

button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #e4e118;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;border: none;  
}
button:hover {
    background-color: #00c3ff; 
    color: rgb(255, 0, 0);
    box-shadow: 0 5px #666;
    transform: translateY(-4px);
  }




  @media (max-width: 576px) {
  form {
    padding: 1rem 1rem; 
  }

  .buttons {
    grid-template-columns: 1fr 1fr; 
    row-gap: 0.5rem;
    column-gap: 0.5rem; 
  }

  input[type="text"] {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
